<h1 id="about">About me:</h1>
<p *ngFor="let text of about.text" class="protected about-text">{{ text }}</p>
<mat-card class="protected">
	<div class="extra-info">
		<div id="languages">
			<h3>Languages:</h3>
			<p class="proficiency-desc">Proficiency goes 1-5, where 5 is best</p>
			<mat-list dense>
				<mat-list-item *ngFor="let lang of about.langs">
					<p>{{capitalize(lang.lang)}}: {{lang.level}}</p>
				</mat-list-item>
			</mat-list>
		</div>
		<div *ngIf="about.custom != undefined" class="others">
			<h3 *ngFor="let custom of about.custom">
				{{capitalize(custom.key)}}: <span class="emphasize">{{custom.value}}</span>
			</h3>
		</div>
	</div>
</mat-card>
