#about {
	margin: 0 0 5mm 0;
}

.about-text {
	padding: 0 4mm;
	white-space: pre-wrap;
	line-height: 1.8;
	font-size: 1.2em;
}

mat-card {
	margin: 6mm auto;
	padding: 6mm;
	width: fit-content;
	.extra-info {
		display: flex;
		justify-content: space-evenly;
		#languages {
			margin: 0 4mm;
			h3 {
				font-size: 1.3em;
				margin: 0;
			}
			.proficiency-desc {
				margin: 0 0 2mm 0;
				color: grey;
				font-size: small;
			}
			mat-list {
				mat-list-item {
					p {
						font-size: 1.3em;
					}
				}
			}
		}
		.others {
			margin: 0 4mm;
			.emphasize {
				font-size: 0.9em;
			}
		}
	}
}

