<h1 id="about">About me:</h1>
<p *ngFor="let text of about.text" class="about-text">{{ text }}</p>
<div class="extra-info">
	<div>
		<div id="languages">
			<h3>Languages:</h3>
			<p class="proficiency-desc">Proficiency goes 1-5, where 5 is best</p>
		</div>
		<mat-list dense>
			<mat-list-item *ngFor="let lang of about.langs">
				<p>{{lang.lang}}: {{lang.level}}</p>
			</mat-list-item>
		</mat-list>
	</div>
	<h4 *ngIf="about.license != undefined">
		Drivers license: {{ about.license }}
	</h4>
</div>
