#about {
	margin: 0 0 2vh 0;
}

.about-text {
	padding: 0 2vw;
	white-space: pre-wrap;
	line-height: 1.8;
}

mat-card {
	margin: 4vh auto;
	padding: 4vh 4vw;
	width: fit-content;
	.extra-info {
		display: flex;
		justify-content: space-evenly;
		h3 {
			margin: 0;
		}
		#languages {
			margin: 0 2vw;
			.proficiency-desc {
				margin: 0 0 2vh 0;
				color: grey;
				font-size: small;
			}
			mat-list {
				mat-list-item {
					p {
						font-size: 1.5em;
					}
				}
			}
		}
		.others {
			margin: 0 2vw;
		}
	}
}
