<div class="profile">
	<img src="{{ profile.pic }}">
	<div class="name">
		<h1>{{ profile.firstname }}</h1>
		<h1>{{ profile.surname }}</h1>
	</div>
</div>
<div class="external">
	<button *ngFor="let link of links" mat-button>
		<a target="_blank" rel="noopener noreferrer" href="{{link.link.href}}" class="links">
			<img *ngIf="link.img; else text" src="{{link.img}}">
			<ng-template #text><h2>{{ link.name }}</h2></ng-template>
			<h3 *ngIf="link.altLink; else full">{{ link.altLink }}</h3>
			<ng-template #full><h3>{{ link.link.hostname + link.link.pathname }}</h3></ng-template>
		</a>
	</button>
</div>
