:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 2vh 2vh;
}

$gmargin: 2vh 2vh;


a {
	text-decoration: none;
	color: black;
}

@mixin column {
	display: flex;
	flex-direction: column;
}

.profile {
	img {
		height: 15vh;
	}
	display: flex;
	align-items: center;
}

.name {
	margin: 0vh 2vh;
	@include column;
}

.external {
	@include column;
	.links {
		@include column;
		// justify-items: center;
		img {
			max-height: 5vh;
		}
	}
}
